
body {
    height: 100vh;
    margin: 0;
    background-color: black;
    color: #00ff00; /* Hacker green */
    font-family: Arial, sans-serif;
}

code {
    /*border: 3px dashed #00ff00; Hacker green dashed border */
    background-color: #111; /* Slightly lighter black for contrast */
    color: #00ff00;
}